@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {  
  @apply bg-secondary text-secondary-foreground;
}


@layer base {
  :root {
    --background: #EAEBEB;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%; 
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  overflow-y: hidden;
}

.filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {

  .hover-scale {
    @apply transition ease-in-out delay-75 duration-300 hover:-translate-y-1 hover:scale-105 hover:drop-shadow-xl hover:z-30;
  }

  .big-wrapper {
    @apply max-w-[1280px] lg:mx-auto w-full;
  }

  .wrapper {
    @apply max-w-[1024px] lg:mx-auto w-full;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* TYPOGRAPHY */
  /* h1 - 40 */
  .h1-bold {
    @apply font-bold;
    @apply text-[40px] leading-[48px];
    @apply lg:text-[48px] lg:leading-[60px] xl:text-[58px] xl:leading-[74px];
  }

  /* h2 */
  .h2-bold {
    @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

  .h2-medium {
    @apply font-medium tracking-tighter text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
    @apply md:font-medium md:tracking-tighter md:text-[32px] md:leading-[40px] md:lg:text-[36px] md:lg:leading-[44px] md:xl:text-[40px] md:xl:leading-[48px];
  }

  /* h3 - 34px */
  .h3-bold {
    @apply font-bold tracking-tighter;
    @apply text-[34px] leading-[44px] md:text-[36px] md:leading-[48px];
    @apply lg:text-[38px] lg:leading-[40px] xl:text-[42px] xl:leading-[52px];
  }

  .h3-medium {
    @apply font-medium tracking-tighter;
    @apply text-[34px] leading-[44px] md:text-[36px] md:leading-[48px];
    @apply lg:text-[38px] lg:leading-[40px] xl:text-[42px] xl:leading-[52px];
  }

  /* h4 30-34px*/
  .h4-bold {
    @apply font-bold tracking-tight leading-tight;
    @apply text-3xl md:text-[32px] lg:text-[34px];
  }

  .h4-semibold {
    @apply font-semibold tracking-tight leading-tight;
    @apply text-3xl md:text-[32px] lg:text-[34px];
  }

  .h4-medium {
    @apply font-medium tracking-tight leading-tight;
    @apply text-3xl md:text-[32px] lg:text-[34px];
  }

  /* h5: 28-32px */
  .h5-bold {
    @apply font-bold text-[28px] leading-[36px];
  }

  .h5-medium {
    @apply font-medium text-[24px] leading-[32px];
    @apply md:font-medium md:text-[28px] md:leading-[36px];
  }

  /* h6: 26-30px */

  /* p1: 24-28px */
  .p1-bold {
    @apply font-bold tracking-normal leading-normal;
    @apply text-2xl md:text-[26px] lg:text-[28px];
  }

  /* p2: 22-26 */
  .p2-bold {
    @apply font-bold tracking-normal leading-normal;
    @apply text-xl md:text-[24px] lg:text-[26px];
  }

  .p2-medium {
    @apply font-medium tracking-normal leading-normal;
    @apply text-xl md:text-[24px] lg:text-[26px];
  }

  .p2-regular {
    @apply font-normal tracking-normal leading-normal;
    @apply text-xl md:text-[24px] lg:text-[26px];
  }

  .p2-light {
    @apply font-light tracking-normal leading-normal;
    @apply text-xl md:text-[24px] lg:text-[26px];
  }


  /* p3: 20-24px */
  .p3-bold {
    @apply font-bold tracking-normal leading-normal;
    @apply text-xl md:text-[22px] lg:text-[24px];
  }

  .p3-medium {
    @apply font-medium tracking-normal leading-normal;
    @apply text-xl md:text-[22px] lg:text-[24px];
  }

  .p3-regular {
    @apply font-normal tracking-normal leading-normal;
    @apply text-xl md:text-[22px] lg:text-[24px];
  }

  .p3-light {
    @apply font-light tracking-normal leading-normal;
    @apply text-xl md:text-[22px] lg:text-[24px];
  }

  /* p4: 18-22px */
  .p4-bold {
    @apply font-bold tracking-normal leading-normal;
    @apply text-lg md:text-[20px] lg:text-[22px];
  }

  .p4-medium {
    @apply font-medium tracking-normal leading-normal;
    @apply text-lg md:text-[20px] lg:text-[22px];
  }

  .p4-regular {
    @apply font-normal tracking-normal leading-normal;
    @apply text-lg md:text-[20px] lg:text-[22px];
  }

  .p4-light {
    @apply font-light tracking-normal leading-normal;
    @apply text-lg md:text-[20px] lg:text-[22px];
  }

  /* p5: 16-20px */
  .p5-bold {
    @apply font-bold tracking-normal leading-normal;
    @apply text-base md:text-lg lg:text-xl;
  }

  .p5-semibold {
    @apply font-semibold tracking-normal leading-normal;
    @apply text-base md:text-lg lg:text-xl;
  }

  .p5-medium {
    @apply font-medium tracking-normal leading-normal;
    @apply text-base md:text-lg lg:text-xl;
  }

  .p5-regular {
    @apply font-normal tracking-normal leading-normal;
    @apply text-base md:text-lg lg:text-xl;
  }

  .p5-light {
    @apply font-light tracking-normal leading-normal;
    @apply text-base md:text-lg lg:text-xl;
  }

  /* p6: 14-18px */
  .p6-bold {
    @apply font-bold tracking-normal leading-normal;
    @apply text-sm md:text-base lg:text-lg;
  }

  .p6-medium {
    @apply font-medium tracking-normal leading-normal;
    @apply text-sm md:text-base lg:text-lg;
  }

  .p6-regular {
    @apply font-normal tracking-normal leading-normal;
    @apply text-sm md:text-base lg:text-lg;
  }

  .p6-light {
    @apply font-light tracking-normal leading-normal;
    @apply text-sm md:text-base lg:text-lg;
  }

  /* p7: 12-16px */
  .p7-bold {
    @apply font-bold tracking-normal leading-normal;
    @apply text-xs md:text-sm lg:text-base;
  }

  .p7-medium {
    @apply font-medium tracking-normal leading-normal;
    @apply text-xs md:text-sm lg:text-base;
  }

  .p7-regular {
    @apply font-normal tracking-normal leading-normal;
    @apply text-xs md:text-sm lg:text-base;
  }

  .p7-light {
    @apply font-light tracking-normal leading-normal;
    @apply text-xs md:text-sm lg:text-base;
  }

  /* 10 */
  .p-medium-10 {
    @apply text-[10px] font-medium leading-[16px];
  }

  .p-regular-10 {
    @apply text-[10px] font-normal leading-[16px];
  }

  /* 8 */
  .p-medium-8 {
    @apply text-[8px] font-medium leading-[12px];
  }

  .p-regular-8 {
    @apply text-[8px] font-normal leading-[12px];
  }

  /* SHADCN OVERRIDES */
  .select-field {
    @apply w-full bg-grey-50 h-[54px] placeholder:text-grey-500 rounded-sm p6-regular px-5 py-3 border-none focus-visible:ring-transparent focus:ring-transparent !important;
  }

  .input-field {
    @apply bg-grey-50 h-[54px] focus-visible:ring-offset-0 placeholder:text-grey-500 rounded-sm p6-regular px-4 py-3 border-none focus-visible:ring-transparent !important;
  }

  .textarea {
    @apply bg-grey-50 flex flex-1 placeholder:text-grey-500 p6-regular px-5 py-3 border-none focus-visible:ring-transparent !important;
  }

  .button {
    @apply rounded-sm h-[54px] p6-regular;
  }

  .select-item {
    @apply py-3 cursor-pointer focus:bg-primary-light;
  }

  .toggle-switch {
    @apply bg-gray-300 !important;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  /* Bottom bar */
  .bottom-bar-container {
    @apply md:hidden z-50 w-full sticky bottom-0 bg-white px-5 py-4 rounded-t-3xl shadow-t-md;
  }

  .bottom-bar {
    @apply flex justify-evenly bg-primary rounded-2xl ;
  }

  .category-filter-card {
    @apply flex flex-col p-2 pb-2 gap-y-2 rounded-md cursor-pointer place-items-center justify-center;
    @apply min-w-[90px] lg:min-w-[100px] min-h-[100px] lg:min-h-[120px]  sm:items-center h-full;
  }

  #card-prev-next-button {
    @apply absolute z-40 top-1/2 transform -translate-y-1/2 px-0 hover:px-2 rounded-md bg-grey-400/60 h-[85%];
    @apply text-white opacity-0 transition-all duration-300 hover:bg-grey-400;
  }

}

/* ========================================== CLERK STYLES */
.cl-logoImage {
  height: 38px;
}

.cl-userButtonBox {
  flex-direction: row-reverse;
}

.cl-userButtonOuterIdentifier {
  font-size: 16px;
}

.cl-userButtonPopoverCard {
  right: 4px !important;
}

.cl-formButtonPrimary:hover,
.cl-formButtonPrimary:focus,
.cl-formButtonPrimary:active {
  background-color: #705CF7
}

/* ========================================== REACT-DATEPICKER STYLES */
.datePicker {
  width: 100%;
}

.react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.react-datepicker__day--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.react-datepicker__time-list-item--selected {
  background-color: #624cf5 !important;
}

/* react transition group */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 0.5s ease;
}
